@keyframes rotarTexto{
    0% { opacity: 0;}
    5% { opacity: 1;}
    45%{ opacity: 1;}
    50%{ opacity: 0;}
    100%{ opacity: 0;}
    
}
body{
    margin: 20px;
    background-image: url(fondo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}
.seccion-blanca{
    display: block;
    width: 90%;
    margin: 50px auto;
    padding: 40px;
    text-align: center;
}
p{
    font-family: 'caudex';
    text-align: justify;
}
.contenedor{
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 13px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    
}
.contenedor img{
    opacity: 1;
    width: 20%;
    height: auto;
}
.quees p{
    font-size: 25px;
    text-align: center;
}
.paraquesirve p{
    text-align: center;
}
.rotacion{
    border-radius: 13px;
    background-color: white;
    position: relative;
    width: 100%;
    min-height: 180px;
    height: 220px;
}
.paraquesirve{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    animation: rotarTexto 20s infinite ease-in-out;
    animation-delay: 10s;
}
.quees{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    animation: rotarTexto 20s infinite ease-in-out;
}
.boton{
    width: 100%;
    align-items: flex-start;
    justify-content:center ;
    display: flex;
}
.boton button{
    width: 20%;
    height: auto;
}
.realizatureporteaqui h1{
    border-radius: 13px;
    background-color: white;
    text-align: center;
}
.boton a{
    color: black;
    text-decoration: none;
}
.boton2 h1{
    border-radius: 13px;
    background-color: white;
    text-align: center;
}
.seccion-video h1{
    border-radius: 13px;
    background-color: white;
    text-align: center;
}